[Unit]
Description=Servidor Casa Inteligente Flask
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/smarthouse
ExecStart=/usr/bin/python3 backend.py
Restart=on-failure

[Install]
WantedBy=multi-user.target